<app-navigation (click)="scrollSmooth($event)"></app-navigation>
<!-- <div (click)="scrollToElement(home)">Test</div> -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
    <div class="col-md-12" style="height: 200px;">
      <h2 id="blogs" #blogs class="text-center">Blogs</h2>
    </div>
    </div>
  </div>
</div>

<!-- blog -->
<!-- Blog -->
<div class="container mt-5 mb-5">
  <div class="row mt-4">
    <div class="col-md-8 col-lg-8">
      <div *ngFor="let page of pureBlog | paginate: { itemsPerPage: 6, currentPage: p }" style="display: inline-block;" class="col-md-6">
        <!-- <div class="col-lg-4"> -->
            <div class="card shadow p-3 mb-5 bg-white rounded" style="height: auto; width: auto;">
              <img src="{{page.image}}" class="card-img-top" alt="{{page.title}}" height="250px">
              <h4 class="card-title mt-3">{{page.title}} <span class="btn btn-sm btn-success float-right text-white position-absolute" style="top: 15px;right: 15px;">{{page.categories}}</span></h4>
              <p>Post on <span class="text-primary">{{page.date | date }}</span> by <span class="text-primary">{{page.author}}</span></p>
              <div class="card-body reformat">
                <p class="card-text text-secondary">{{page.thumbnailText | caption}}</p>
              </div>
              <a href="{{page.route}}" data-disqus-identifier="" class="btn btn-primary" (click)="sendSlug()">Read...</a>
            </div>
          <!-- </div> -->
        </div>
        <pagination-controls class="text-center"  (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="col-md-4 col-lg-4">
      <div class="row">
        <div class="col">
          <h2>Profile</h2>
          <div style="height: 300px;"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Categories</h2>
          <div style="height: 300px;"></div>
        </div>
      </div>
    </div>
    </div>
</div>

<app-footer></app-footer>
