<app-nav-a></app-nav-a>
<div class="jumbotron">
    <div class="container">
      <div class="row">
      <div class="col-md-12 col-sm-12 content text-center">
        <div class="wrap-video">
        <h3 class="text-center display-4">{{videoList[0].title}}</h3>
        <iframe width="100%" height="520" [frameBorder]="0"
        [src]="sanitizeVideo[0]['link']"  [allowFullscreen]="true" class="highlight-video">
        </iframe>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="container mb-5">
  <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 p-3" *ngFor="let item of sanitizeVideo">
          <div class="card">
              <div class="card-body">
                  <div class="card-video">
                    <iframe width="100%" height="200px" [frameBorder]="0"
                    [src]="item.link" class="list-video" [allowFullscreen]="true">
                    </iframe>
                    </div>
                  <div class="card-info">
                  <div class="card-title">{{item.title}}</div>
                  <div class="card-description">{{item.description}}</div>
                  <a class="card-btn" [href]="item.file" target="_blank"  *ngIf="item.isFile">{{'File Materi'}}</a>
                  <a class="card-btn" [ngStyle]="{'cursor': item.isFile ? 'pointer' : 'auto'}"  *ngIf="!item.isFile">{{'Tidak Ada File'}}</a>
                    </div>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>