.nav-a {
  position: absolute;
  left: 122px;
  top: 50px;
  z-index: 110;
  min-height: 60px;
  border-radius: 20px;
  background-color: #272952;
}

.bg-dark {
  background-color: #272952 !important;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a:hover {
  border-bottom: 3px solid #ff3186;
}

.navbar-brand {
  font-style: normal;
  font-weight: 900;
}
