/* .nav-a {
  position: absolute;
  width: 1196px;
  height: 107px;
  left: 122px;
  top: 50px;
  z-index: 1000;
  background-color: #272952;
  border-radius: 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}



.menu {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-right: 30px;
}

.menu a {
  font-family: Ruda;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;

  color: #fff;
}

.menu a:hover {
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 4px solid #ff3186;
} */

.nav-a {
  position: absolute;
  left: 122px;
  top: 50px;
  z-index: 110;
  min-height: 60px;
  border-radius: 20px;
  background-color: #272952;
}

.bg-dark {
  background-color: #272952 !important;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a:hover {
  border-bottom: 3px solid #ff3186;
}

.navbar-brand {
  font-style: normal;
  font-weight: 900;
}
