.nav-a {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 110;
  min-height: 75px;
  border-radius: 20px;
  background-color: #272952;
}

.wrap-nav {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.bg-dark {
  background-color: #272952 !important;
}

.nav-item {
  margin-right: 20px;
  font-size: 24px;
}

.nav-item a:hover {
  border-bottom: 3px solid #ff3186;
}

.navbar-brand {
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
}
