<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="hero">
                    <h2 class="job-title">Frontend Developer</h2>
                    <h1 class="my-name">Afif Alfiano</h1>
                    <p class="my-info">Hello friend, let's connect with the following social media and make sure to subscribe this blog to get the latest info</p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#socialMedia"><span>Contact Me</span></button>
                    <img src="./assets/pattern/pattern-1.png" alt="" class="img-pattern-1">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <img src="./assets/afif.png" alt="" class="img-me">
            </div>
        </div>
        <img src="./assets/pattern/pattern-2.png" alt="" class="img-pattern-2">
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="socialMedia" tabindex="-1" aria-labelledby="socialMediaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contact Me</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">      
          <div class="rows">
              <div class="col-2">
                <i class="fa fa-twitter-square fa-3x m-2 text-primary" aria-hidden="true"></i>
              </div>
              <div class="col-10">
                <a href="https://twitter.com/afifalfiano8" target="blank">@afifalfiano8</a>
              </div>
          </div>
          <div class="rows">
              <div class="col-2">
                <i class="fa fa-github-square fa-3x m-2 text-dark" aria-hidden="true"></i>
              </div>
              <div class="col-10">
                <a href="https://github.com/afifalfiano" target="blank">afifalfiano</a>
              </div>
          </div>
          <div class="rows">
              <div class="col-2">
                <i class="fa fa-dribbble fa-3x m-2 text-danger" aria-hidden="true"></i>
              </div>
              <div class="col-10">
                <a href="https://dribbble.com/afifalfiano" target="blank">afifalfiano</a>
              </div>
          </div>
          <div class="rows">
              <div class="col-2">
                <i class="fa fa-linkedin fa-3x m-2 text-primary" aria-hidden="true"></i>
              </div>
              <div class="col-10">
                <a href="https://www.linkedin.com/in/afifalfiano/" target="blank">Afif Alfiano</a>
              </div>
          </div>
          <div class="rows">
              <div class="col-2">
                <i class="fa fa-envelope fa-3x m-2 text-danger" aria-hidden="true"></i>
              </div>
              <div class="col-10">
                <a href="mailto:afifalfiano2@gmail.com?subject = Hello = Message" target="blank">afifalfiano2@gmail.com</a>
              </div>
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>