<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero">
                    <h2 class="job-title">Frontend Developer</h2>
                    <h1 class="my-name">Afif Alfiano</h1>
                    <p class="my-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae quas, dolores autem enim fugit animi impedit totam. Odio, unde necessitatibus.</p>
                    <button class="btn btn-primary"><span>Contact Me</span></button>
                    <img src="./assets/pattern/pattern-1.png" alt="" class="img-pattern-1">
                </div>
            </div>
            <div class="col-lg-6">
                <img src="./assets/afif.png" alt="" class="img-me">
            </div>
        </div>
        <img src="./assets/pattern/pattern-2.png" alt="" class="img-pattern-2">
    </div>
</div>