<div class="hero">
        <h2 class="job-title">Frontend Developr</h2>
        <h1 class="my-name">Afif Alfiano</h1>
        <p class="my-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae quas, dolores autem enim fugit animi impedit totam. Odio, unde necessitatibus.</p>
        <div>
        <button class="contact-me"><span>Contact Me</span></button>
    </div>
    <img src="./assets/afif.png" alt="" class="img-me">
    <img src="./assets/pattern/pattern-1.png" alt="" class="img-pattern-1">
    <img src="./assets/pattern/pattern-2.png" alt="" class="img-pattern-2">
</div>