<app-navigation (click)="scrollSmooth($event)"></app-navigation>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 mx-auto" style="margin-top:5em;margin-bottom:5em;">
      <div class="text-center  mt-4" style="display: inline-block;">
        <img src="../../assets/images/404/error.png" class="img-fluid" alt="404" width="500" class="text-center">
        <a style="display:none;" href='https://www.freepik.com/vectors/hand'>Hand vector created by freepik - www.freepik.com</a>
        <h3 class="mt-5 display-5 text-primary text-center"><strong>Upss! Page not found!</strong></h3>
        <p style="padding-left:15em; padding-right: 15em;font-weight: 500;">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam ex nam minus quo incidunt odit amet eos enim Totam ex nam minus quo incidunt odit amet eos enim officia consequuntur.
        </p>
        <a routerLink="/" class="btn btn-secondary">Back to Home</a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
