<div class="experience">
    <div class="mb-5">
        <div class="col">
          <h2 class="text-center exp-title">Experience</h2>
        </div>
      </div>
    <div class="mx-auto">
		<div class="col-lg-8 offset-md-2 col-lg-8 col-sm-8 mr-3">
			<ul class="timeline">
				<li>
					<a target="_blank" href="#">Frontend Developer</a>
					<a href="#" class="float-right">20 August, 2020</a>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati fuga natus odit beatae, repellat ducimus ea fugit molestiae tenetur accusamus!</p>
				</li>
				<li>
					<a href="#">UI/UX Designer</a>
					<a href="#" class="float-right">20 February, 2020</a>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati fuga natus odit beatae, repellat ducimus ea fugit molestiae tenetur accusamus!</p>
				</li>
				<li>
					<a href="#">IT Support</a>
					<a href="#" class="float-right">1 January, 2019</a>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati fuga natus odit beatae, repellat ducimus ea fugit molestiae tenetur accusamus!</p>
				</li>
				<li>
					<a href="#">Technician PT.Telkom Access</a>
					<a href="#" class="float-right">1 October 2017</a>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati fuga natus odit beatae, repellat ducimus ea fugit molestiae tenetur accusamus!</p>

				</li>
			</ul>
		</div>
	</div>
</div>