<div class="experience">
    <div class="">
        <div class="col">
          <h2 class="text-center exp-title">Experience</h2>
        </div>
      </div>
    <div class="">
		<div class="col-md-6 offset-md-3 col-lg-6 col-sm-6 mr-3">
			<ul class="timeline">
				<li>
					<a target="_blank" href="#">Frontend Developer</a>
					<a href="#" class="float-right">20 August, 2020</a>
					<p>Implementation of a design product to the web application. (On the frontend developer, we use an Angular framework.</p>
				</li>
				<li>
					<a href="#">UI/UX Designer</a>
					<a href="#" class="float-right">20 February, 2020</a>
					<p>Create a product design for a system BPM with the scrum method</p>
				</li>
				<li>
					<a href="#">IT Support</a>
					<a href="#" class="float-right">1 January, 2019</a>
					<p>Work at BSI UII on IT Support position. BSI uses a lot of technology to build systems at UII and makes clear networks and extraordinary.</p>
				</li>
				<li>
					<a href="#">Technician PT.Telkom Access</a>
					<a href="#" class="float-right">1 October 2017</a>
					<p>
            Following the PKL (Field Work / Apprenticeship) program from SMK N 2 Yogyakarta for 3 months at PT. Telkom Access. Many things can be taken from these street vendors, such as how to splicing optical fiber, installing a new indihome internet connection, becoming a help desk, getting to know the internet network, knowing what ODP, ODC, Splicer, FO, and others. Perform network maintenance when an error occurs or natural factors. That's great an experience.
          </p>
				</li>
			</ul>
		</div>
	</div>
</div>