.about-me {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: 1024px;
  background: url("../../../assets/bg/about.png");
}

.about-info {
  position: absolute;
  width: 100%;
  transform: translateY(200px);
}

.about-title {
  background:
    -webkit-linear-gradient(
      130deg,
      #d80bbc,
      #3b42e7
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 72px;
}

.about-text {
  width: 588px;
  height: auto;
  font-size: 24px;
  line-height: 39px;
  color: #1d2070;
}

.stack {
  display: inline;
}

.container-fluid {
  min-height: 1024px;
  background: url("../../../assets/bg/about.png");
}

.container,
.col-lg-6,
.row {
  min-height: 1024px;
}

.about {
  transform: translateY(200px);
}
