<div class="about-me">
    <div class="img-about">
        <img src="./assets/images/about/about-me.png" alt="">
    </div>
    <div class="about-info">
        <h1 class="about-title">About Me</h1>
        <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium minus maxime reprehenderit eveniet modi, consequuntur ab provident est laboriosam fuga.</p>
        <div *ngFor="let data of myStack" class="stack">
            <span class="btn {{data.style}} m-2">{{data.tech}}</span>
        </div>
    </div>
</div>