<div class="container-fluid featured-post">
    <div class="text-center post-title">
        <h1>Featured Post</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vitae, culpa quod quisquam error aliquid optio voluptatem vel ab quos?</p>
    </div>
    <div class="container row mt-5 mb-5 mx-auto">
        <div class="col-lg-4">
                <div class="card">
                    <div class="card-img-top img-empty" alt="..."></div>
                    <div class="category-post">UIUX</div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-published">Pulbihsed on 22 January 2021</p>
                      <p class="card-likes text-success">999 Likes </p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div class="action">
                          <a href="#" class="btn btn-primary">9 minutes read</a>
                          <a href="#" class="btn btn-success"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-img-top img-empty" alt="..."></div>
                    <div class="category-post">UIUX</div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-published">Pulbihsed on 22 January 2021</p>
                      <p class="card-likes text-success">999 Likes </p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div class="action">
                          <a href="#" class="btn btn-primary">9 minutes read</a>
                          <a href="#" class="btn btn-success"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-img-top img-empty" alt="..."></div>
                    <div class="category-post">UIUX</div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-published">Pulbihsed on 22 January 2021</p>
                      <p class="card-likes text-success">999 Likes </p>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div class="action">
                          <a href="#" class="btn btn-primary">9 minutes read</a>
                          <a href="#" class="btn btn-success"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
        </div>
    </div>
</div>