
.badge-secondary {
  background-color: rgba(50, 52, 87, 0.7);
  border-radius: 15px;
}

.title-post {
  margin-top: 150px;
}

.clue-post {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.img-fluid {
  border-radius: 15px;
}

.comming-post {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.new {
  display: flex;
  gap: 20px;
  align-items: center;
}

.img-new {
  max-width: 160px;
}

.comming-post p:nth-child(1) {
  font-size: 20px;
  margin-bottom: 0;
}

.comming-post p:nth-child(2) {
  font-size: 16px;
  margin-top: 0;
}

.distance {
  margin-bottom: 50px;
}

.comming-post img {
  border-radius: 10px;
  width: 100%;
}

a.info {
  color: #1d2070;
  font-weight: bold;
}

.pagination {
  display: flex;
  margin-top: 40px;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
}

.prev,
.next {
  font-weight: normal;
  color: #1d2070;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .read {
    margin-top: -0.7em !important;
    font-size: 2em !important;
    font-weight: 400;
  }

  .comming-post {
    flex-direction: column;
  }
}
