<app-navigation (click)="scrollSmooth($event)"></app-navigation>

<!-- This is where Scully will inject the static HTML -->

<div class="container mt-4">
  <div *ngIf="currentPost$ | async as post">
    <div class="row" style="margin-top:100px;">
      <div class="col">
        <h2 class="display-3 read">{{ post.title }}</h2>
        <label class="p-1 badge badge-primary"><em>{{
          post.categories
        }}</em></label>
        <p>
          Published <span class="text-primary">{{ post.publishedAt | date }}</span> by
          <span class="text-primary">{{ post.authors }}</span>
        </p>
        <div class="border border-light bg-light p-4 rounded col-lg-12 text-center">
          <img
            src="{{ post.image }}"
            class="img-fluid"
            alt="{{ post.title }}"
          />
        </div>
      </div>
    </div>
    <scully-content></scully-content>
    <hr />
    <p class="d-inline font-weight-bold">Keyword: </p>
    <div *ngFor="let keyword of post.keywords" class="d-inline">
      <p class="badge badge-primary "><em>{{ keyword }}</em></p>
    </div>
    <hr/>
    <div id="disqus_thread"></div>
  </div>

  <div class="row">
    <div class="col">
      <a
        [routerLink]="['/myblogs']"
        routerLinkActive="router-link-active"
        class="btn btn-dark"
      > Back</a
      >
    </div>
  </div>
</div>

<app-footer></app-footer>

<!-- <article>
  <header *ngIf="currentPost$ | async as currentPost" class="pt-6 xl:pb-10">
    <div class="space-y-1 text-center">
      <dl class="space-y-10" *ngIf="currentPost.published">
        <div>
          <dt class="sr-only">Published on</dt>
          <dd class="text-base leading-6 font-medium text-gray-500">
            <time [dateTime]="currentPost.publishedAt"> {{ currentPost.publishedAt | date: "dd MMMM yyyy" }} </time>
          </dd>
        </div>
      </dl>
      <div>
        <h1 class="text-3xl leading-9 font-extrabold text-gray-900 tracking-tight sm:text-4xl sm:leading-10 md:text-5xl md:leading-14">{{ currentPost.title }}</h1>
      </div>
    </div>
  </header>

  <scully-content></scully-content>
</article> -->
