<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Afif Alfiano</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <span *ngIf="isHome === true">
          <a class="nav-link">About Me</a>
        </span>
        <span *ngIf="isHome === false">
          <a class="nav-link" href="#home">About Me</a>
        </span>
      </li>
      <li class="nav-item">
        <span *ngIf="isHome === true">
          <a class="nav-link">Experience</a>
        </span>
        <span *ngIf="isHome === false">
          <a class="nav-link" href="#home">Experience</a>
        </span>
      </li>
      <li class="nav-item">
        <span *ngIf="isHome === true">
          <a class="nav-link">Portfolio</a>
        </span>
        <span *ngIf="isHome === false">
          <a class="nav-link" href="#home">Portfolio</a>
        </span>
      </li>
      <li class="nav-item">
        <span *ngIf="isHome === true">
          <a class="nav-link">Blog</a>
        </span>
        <span *ngIf="isHome === false">
          <a class="nav-link" href="#home">Blog</a>
        </span>
      </li>
      <li class="nav-item">
        <span *ngIf="isHome === true">
          <a class="nav-link">Contact</a>
        </span>
        <span *ngIf="isHome === false">
          <a class="nav-link" href="#home">Contact</a>
        </span>
      </li>
    </ul>
  </div>
</nav>
