<app-navigation (click)="scrollSmooth($event)"></app-navigation>
<!-- <div (click)="scrollToElement(home)">Test</div> -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row mt-5" id="header-jumbo" style="height: 400px;">
    <div class="col-md-6  col-sm-12 mt-4">
      <p id="home" #home >Hello!</p>
      <div>
        <h1 class="mt-3 display-4 name element" id="myName"></h1>
      </div>
      <h2 class="job">Frontend Developer at <a href="https://bsi.uii.ac.id" target="blank" class="text-primary text-decoration-none">BSI UII</a></h2>
      <ul style="list-style-type: none;padding-left: 0;">
        <li><i class="fa fa-envelope text-danger" aria-hidden="true"></i> &nbsp; afifalfiano2@gmail.com</li>
        <li><i class="fa fa-phone-square text-success" aria-hidden="true"></i> &nbsp; +628112636768</li>
        <li><i class="fa fa-globe text-secondary" aria-hidden="true"></i> &nbsp; Yogyakarta, Indonesia</li>
      </ul>
      <div class="row">
        <div class="col-sm-12">
          <a href="https://www.facebook.com/alfiano.hermasyah/" target="blank"><i class="fa fa-facebook-square fa-2x m-2 text-primary" aria-hidden="true"></i></a>
          <a href="https://dribbble.com/afifalfiano" target="blank"><i class="fa fa-dribbble fa-2x m-2 text-danger" aria-hidden="true"></i></a>
          <a href="https://github.com/afifalfiano" target="blank"><i class="fa fa-github-square fa-2x m-2 text-dark" aria-hidden="true"></i></a>
          <a href="https://twitter.com/afifalfiano8" target="blank"><i class="fa fa-twitter-square fa-2x m-2 text-info" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-3">
      <div class="text-center">
        <img src="../../assets/profile.jpg" class="img-fluid rounded-circle p-4 bg-dark profile" alt="Afif Alfiaon" width="350">
      </div>
    </div>
    </div>
  </div>
</div>

<!-- About me -->
<div class="container mt-5 mb-5">
<div class="row">
  <div class="col-md-6 col-sm-12" id="hidden">
    <div class="text-center">
      <img src="../../assets/images/home/code.png" class="img-fluid" width="450" alt="code">
      <a href='https://www.freepik.com/vectors/banner' style="visibility: hidden;">Banner vector created by katemangostar - www.freepik.com</a>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <h2 id="aboutme" #aboutme>About Me</h2>
    <p>Hello, I'm a Afif Alfiano, web developer based on Indonesia. I have rich experiecnce in web site design like using figma, adobe xd and build from scratch.</p>
    <div *ngFor="let stack of myStack" style="display: inline;">
      <span class="btn {{stack.style}} m-2">{{stack.tech}}</span>
    </div>
  </div>
</div>
</div>

<!-- What I Do -->
<div class="container mt-5 mb-5">
<div class="row">
  <div class="col mt-4">
    <h2 class="text-center">What I Do</h2>
  </div>
</div>
<div class="row mt-4 ">
  <div class="col-md-4 col-lg-4 col-sm-12 mt-2 mb-2">
    <div class="card ">
      <i class="fa fa-paint-brush fa-5x pr-3 pt-3 pb-3 pl-3 text-warning text-center" aria-hidden="true"></i>
      <h5 class="card-title pl-3 pr-3 text-center">UI Design</h5>
      <div class="card-body pt-0">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12 mt-2 mb-2">
    <div class="card">
     <i class="fa fa-file-code-o fa-5x pr-3 pt-3 pb-3 pl-3 text-primary text-center" aria-hidden="true"></i>
      <h5 class="card-title pl-3 pr-3 text-center">Web Design</h5>
      <div class="card-body pt-0">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12 mt-2 mb-2">
    <div class="card">
     <i class="fa fa-rocket fa-5x pr-3 pt-3 pb-3 pl-3 text-success text-center" aria-hidden="true"></i>
      <h5 class="card-title pl-3 pr-3 text-center">Web Development</h5>
      <div class="card-body pt-0">
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Timeline -->
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <h2 class="text-center" id="experience" #experience>Experience</h2>
    </div>
  </div>
	<div class="row">
		<div class="col-md-6 offset-md-3 col-lg-6 col-sm-6 mr-3">
			<ul class="timeline">
				<li>
					<a target="_blank" href="#">Frontend Developer</a>
					<a href="#" class="float-right">20 August, 2020</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
				</li>
				<li>
					<a href="#">UI/UX Designer</a>
					<a href="#" class="float-right">20 February, 2020</a>
					<p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
				</li>
				<li>
					<a href="#">IT Support</a>
					<a href="#" class="float-right">1 January, 2019</a>
					<p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
				</li>
				<li>
					<a href="#">Technician PT.Telkom Access</a>
					<a href="#" class="float-right">1 October 2017</a>
					<p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- Portfolio -->
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <h2 class="text-center" id="portfolio" #portfolio>Recent Portfolio</h2>
    </div>
  </div>
  <div class="row mt-4 mb-5">
    <div *ngFor="let portfolio of myPortfolio; let i = index" class="col-md-4 col-sm-12">
      <div class="text-center">
        <div class="card border port" style="height: auto;">
          <h6 class="card-header card-title text-center font-weight-bold bg-danger text-white">{{portfolio.label}}</h6>
          <div class="card-body">
            <img [src]="portfolio.image" class="card-img-top" [alt]="portfolio.label" height="auto">
            <div class="mt-3">
              <div class="m-2">
                <i class="fa fa-external-link btn btn-primary bg-primary" aria-hidden="true">&nbsp; <a [href]="portfolio.link" class="text-white text-decoration-none" target="blank">View Demo</a></i>
              </div>
              <div *ngFor="let fitur of portfolio.feature" class="d-inline m-1">
                  <label for="" class="btn badge badge-danger">{{fitur}}</label>
              </div>
              <p class="text-md-left">{{portfolio.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a (click)="goToPortfolios()"  class="btn btn-success">View More Portfolio</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="col"></div>
  </div>
</div>


<!-- Blog -->
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <h2 class="text-center" id="blog" #blog>Featured Posts</h2>
    </div>
  </div>
  <div class="row mt-4">
    <div *ngFor="let page of pureBlog; let i = index;" style="display: inline-block;" class="col-md-4">
          <div class="card shadow p-3 mb-5 bg-white rounded" style="height: auto; width: auto;" (mouseenter) ="changeMouseState('hover', i)"  (mouseleave) ="changeMouseState('rest', i)"
          [@changeState]="currentState[i]"
          >
            <img src="{{page.image}}" class="card-img-top" alt="{{page.title}}">
            <h4 class="card-title mt-3 mb-1">{{page.title}} <span class="btn btn-sm btn-success float-right text-white position-absolute" style="top: 15px;right: 15px;">{{page.categories}}</span></h4>
            <p class="mb-3">Post on <span class="text-primary">{{page.publishedAt | date }}</span> by <span class="text-primary">{{page.authors}}</span></p>
            <div class="card-body reformat" >
              <p class="card-text text-secondary">{{page.thumbnailText | caption}}</p>
            </div>
            <a href="{{page.route}}" class="btn btn-primary stretched-link" (click)="sendSlug()">{{page.wordCount | readTime }}</a>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a (click)="goToBlogs()"  class="btn btn-success">View More Post</a>
      </div>
    </div>
</div>


<!-- Feedback -->
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <h2 class="text-center" id="contact" #contact>Give Me Feedback</h2>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-lg-6">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFirstName4">FirstName</label>
            <input type="text" class="form-control" id="inputFirstName4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputLastName4">LastName</label>
            <input type="text" class="form-control" id="inputLastName4">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Email</label>
          <input type="email" class="form-control" id="inputAddress" placeholder="username@mail.xyz">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Message</label>
          <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Your message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block ">Send</button>
      </form>
    </div>
    <div class="col-lg-6" id="feedback">
      <div class="text-center ml-4">
        <img src="../../assets/images/home/feedback.png" class="img-fluid ml-4" alt="Feedback" width="500">
        <a href='https://www.freepik.com/vectors/star' style="visibility: hidden;">Star vector created by vectorjuice - www.freepik.com</a>
      </div>
    </div>
  </div>
</div>
<!-- Floating Top -->
<div class="container-fluid pb-4">
  <div data-spy="affix" class="float-right float-right d-absolute ">
    <button class="btn btn-outline-success float-right" (click)="goToTop()">Top</button>
  </div>
</div>


<app-footer></app-footer>
