.container-fluid {
  background:
    linear-gradient(
      -45deg,
      #ff3186,
      #ff7d5a
    );
  color: #fff;
}

.btn-success {
  background:
    linear-gradient(
      290.91deg,
      #d80bbc,
      #3b42e7
    );
  border-radius: 10px;
  border: none;
  font-size: 24px;
  padding: 0 20px;
  width: 44px;
}

@media only screen and (max-width: 425px) {
  .container-fluid {
    padding-top: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  #test {
    color: white;
  }
}
