<div class="container">
    <div class="row portfolio-title">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui eaque neque cupiditate suscipit vel delectus. Sed quisquam ipsa neque!</p>
    </div>
    <div class="row">
        <div class="real-project">
            <h2>Real Project</h2>
        </div>
        <div class="wrapper-project">
        <div class="col-lg-4">
                <div class="card">
                    <div class="card-img-top img-empty" alt="..."></div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-img-top img-empty" alt="..."></div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-img-top img-empty" alt="..."></div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="real-project">
            <h2>Side Project</h2>
        </div>
        <div class="wrapper-project">
        <div class="col-lg-4">
                <div class="card">
                    <div class="card-img-top img-empty" alt="..."></div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-img-top img-empty" alt="..."></div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-img-top img-empty" alt="..."></div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>