<div class="container">
    <div class="row portfolio-title">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui eaque neque cupiditate suscipit vel delectus. Sed quisquam ipsa neque!</p>
    </div>
    <div class="row">
        <div class="real-project">
            <h2>Real Project</h2>
        </div>
        <div class="wrapper-project">
        <div class="col-lg-4">
                <div class="card">
                    <!-- <div class="card-img-top img-empty" alt="..."></div> -->
                    <div class="cover">
                      <img src="./assets/portfolio/static-ecommerce.jpg" alt="Static Ecommerce" class="img img-responsive thumbnail">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Pokemon Card Apps</h5>
                      <p class="card-text">Build an application using the angular framework with pokemon api. Also uses lazy loading images and PWAs to improve website performance</p>
                      <a href="#" class="btn btn-primary">Detail</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <!-- <div class="card-img-top img-empty" alt="..."></div> -->
                    <div class="cover">
                      <img src="./assets/portfolio/pwa-pokemon.jpg" alt="PWA Pokemon" class="img img-responsive thumbnail">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Static E Commerce Apps</h5>
                      <p class="card-text">Create a simple e commerce static website using html, css, js and bootstrap. Not too many features because it's just a static website</p>
                      <a href="#" class="btn btn-primary">Detail</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <!-- <div class="card-img-top img-empty" alt="..."></div> -->
                     <div class="cover">
                      <img src="./assets/portfolio/kabar-bola.jpg" alt="Kabar Bola" class="img img-responsive thumbnail">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Football Information Apps</h5>
                      <p class="card-text">Create a simple football schedule website with native javascript, pwa, and webpack. Don't forget to use push notifications with the help of firebase to push messages.</p>
                      <a href="#" class="btn btn-primary">Detail</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="real-project">
            <h2>Side Project</h2>
        </div>
        <div class="wrapper-project">
        <div class="col-lg-4">
                <div class="card">
                    <div class="cover">
                      <div class="card-img-top img-empty" alt="..."></div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odit atque ipsam delectus sunt voluptate ullam rem saepe facere odio placeat, vel labore dignissimos doloribus obcaecati aut ipsa nemo pariatur!</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="cover">
                      <div class="card-img-top img-empty" alt="..."></div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odit atque ipsam delectus sunt voluptate ullam rem saepe facere odio placeat, vel labore dignissimos doloribus obcaecati aut ipsa nemo pariatur!</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="cover">
                      <div class="card-img-top img-empty" alt="..."></div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odit atque ipsam delectus sunt voluptate ullam rem saepe facere odio placeat, vel labore dignissimos doloribus obcaecati aut ipsa nemo pariatur!</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>