<div class="container">
    <div class="row portfolio-title">
        <h1>Portfolio</h1>
        <p>So far this is my current portfolio either on real apps or just project. In this section I will highlight maybe 6 project that used by client or just for fun.</p>
    </div>
    <div class="row">
      <div class="wrapper-project">
        <div *ngFor="let item of dataPortfolio" class="col-lg-4">
                <div class="card">
                    <div class="cover">
                      <img src="{{item.asset}}" alt="{{item.title}}"  class="img img-responsive thumbnail">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p class="card-text">{{item.description}}</p>
                      <a href="{{item.url}}" target="_blank" class="btn btn-primary">Visit</a>
                    </div>
                  </div>
            </div>
          </div>
    </div>
</div>